fastapi
uvicorn
pymongo
sqlalchemy
pymysql
llama-index
llama-index-core
llama-index-llms-ollama
llama-index-llms-cohere
llama-index-agent-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
chromadb