llama-index==0.13.0
pymongo
chromadb
tqdm
uvicorn
fastapi
requests
numpy
pandas
seaborn
plotly
llama-index-vector-stores-chroma 
llama-index-readers-web
llama-index==0.12.49
llama-index-core
llama-index-llms-ollama
llama-index-llms-cohere
llama-index-agent-openai
llama-index-tools-code-interpreter
llama-index-tools-python-file